@import '../../globalStyles/variables.scss';
@import '../../globalStyles/mixins.scss';

.memberWrapper {
  display: flex;
  width: 100%;
  gap: 8px;
  align-items: center;
}

.memberImg {
  width: 32px;
  height: 32px;
  font-size: 9px;
  border-radius: 50%;
  background-color: gray;
}

.memberName {
  border: none;
  background-color: transparent;
  @include BodyLarge;
  padding: 0;
  transition: 0.3s;
  &:hover {
    transform: scale(1.08);
    cursor: pointer;
    opacity: 0.8;
  }
}
