@import '../../globalStyles/variables.scss';
@import '../../globalStyles/mixins.scss';

.memberWrapper {
  display: flex;
  width: 100%;
  gap: 16px;
  align-items: center;
  height: 54px;
  padding: 20px 0;
}

.memberImg {
  width: 33.911px;
  height: 33.911px;
  font-size: 9px;
  border-radius: 50%;
  background-color: gray;
}

.memberName {
  @include SideBarUser;
}
