@use '../../../globalStyles/variables.scss' as v;
@use '../../../globalStyles/mixins.scss' as m;

.filledButton {
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  cursor: pointer;
  border-radius: 8px;
  border: none;
  background: v.$accent;
  color: var(--white, v.$white-color);

  @include m.Body;
  @include m.noselect;

  &:hover {
    background: v.$button-hover;
  }

  &:disabled {
    background: v.$disabled;
    cursor:no-drop;
  }
}

.emptyButton {
  @include m.Body;
  @include m.noselect;

  display: flex;
  justify-content: center;
  align-items: center;

  outline: none;
  cursor: pointer;
  
  border-radius: 8px;
  border: 1px solid var(--accent, v.$accent);

  color: v.$accent;
  white-space: nowrap;

  &:hover {
    color: v.$button-hover;
    border: 1px solid var(--accent, v.$accent);
    background: v.$emty-hover-color;
  }

  &:disabled {
    color: v.$disabled;
    border: 1px solid var(--accent, v.$disabled);
    cursor:no-drop;
  }
}