/*
    Универсальный миксин
    для подключения любого шрифта и начертания
*/
@mixin fonts($family, $style: normal, $weight: 400, $dir, $type) {
  @font-face {
    font-family: $family;
    font-style: $style;
    font-weight: $weight;
    font-display: swap;
    src:
      url($dir + $family + $type) format('truetype'),
      url($dir + $family + $type) format('woff'),
      url($dir + $family + $type) format('woff2');
  }
}

@mixin Person {
  font-family: 'Onest-Bold', sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 121%;
}

@mixin NavBar {
  font-family: 'Onest-Light', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 121%;
}

@mixin TeamTitle {
  font-family: 'Onest-Bold', sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 121%;
}

@mixin Card {
  font-family: 'Onest-Regular', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 133%;
}

@mixin SideBarUser {
  font-family: 'Onest-Regular', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 121%;
}

//Основные шрифты
@mixin H1 {
  font-family: 'Onest-Bold', sans-serif;
  font-size: 20px;
  font-weight: 700;
}

@mixin H2 {
  font-family: 'Onest-Medium', sans-serif;
  font-size: 16px;
  line-height: 150%;
  font-weight: 500;
}
@mixin Title {
  font-family: 'Onest-Medium', sans-serif;
  font-size: 36px;
  line-height: 144%;
  font-weight: 500;
}

@mixin BodyLarge {
  font-family: 'Onest-Regular', sans-serif;
  font-size: 14px;
  line-height: 142%;
  font-weight: 400;
}

@mixin ButtonLarge {
  font-family: 'Onest-Bold', sans-serif;
  font-size: 16px;
  line-height: 125%;
  font-weight: 700;
}

@mixin Body {
  font-family: 'Onest-Regular', sans-serif;
  font-size: 12px;
  line-height: 133%;
  font-weight: 400;
}

@mixin Status {
  font-family: 'Onest-Regular', sans-serif;
  font-size: 16px;
  font-weight: 400;
}

@mixin LinkS {
  font-family: 'Onest-Regular', sans-serif;
  font-size: 14px;
  line-height: 114%;
  font-weight: 400;
}

@mixin Button {
  font-family: 'Onest-Bold', sans-serif;
  font-size: 12px;
  line-height: 133%;
  font-weight: 700;
}

@mixin DeadlineDateMedium {
  font-family: 'Onest-Medium', sans-serif;
  font-size: 10px;
  line-height: 160%;
  font-weight: 500;
}

@mixin Description {
  font-family: 'Onest-Regular', sans-serif;
  font-size: 10px;
  line-height: 120%;
  font-weight: 400;
}

@mixin S1 {
  font-family: 'Onest-Medium', sans-serif;
  font-size: 10px;
  line-height: 120%;
  font-weight: 500;
}

@mixin LinkM {
  font-family: 'Onest-Regular', sans-serif;
  font-size: 16px;
  line-height: 150%;
  font-weight: 400;
}

@mixin noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* IE / Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
}
