//Colors
$white-color: #ffffff;
$black-color: #060606;
$black1B-color: #1B1B1B;
$black1E-color: #1E1E1E;
$search-border: #B3B3B3;
$title-background: #DFDFDF;
$subtitle-background: #F5F5F5;
$sidebar:#F1F1F1;
$profile-background: #7A7A7A;
