$white-color: #ffffff;
$black-color: #060606;
$black2-color: #2C2B2B;
$black1B-color: #1B1B1B;
$search-border: #B3B3B3;
$title-background: #DFDFDF;
$subtitle-background: #F5F5F5;
$sidebar:#F1F1F1;
$profile-background: #7A7A7A;
$accent-color: #5550E4;
$error: #E24C3E;
$light-grey: #F3F4F6;
$light-attention: #FAEBE8;
$light-blue: #E7EFFE;
$light-yellow: #FDF3E6;
$light-green: #EAF7F1;
$main-background: #F0F5FF;
$name-task: #6A6A6A;
$disabled-color: #B0B0B0;
$emty-hover-color: #E6E5FF;
$accent_on_hover-color: #4641D2;
$todo: #BFDCFA;
$ip: #E3D3F2;
$done: #ACE9AE;
$hold: #CAD8E1;
$todo-text: #799AC1;
$ip-text: #947FA9;
$done-text: #69A36B;
$hold-text: #6E858E;
$team: #DCE4F3;
$login-background: #F6F7FB;
$task-stroke: #E6EDF4;
