$white-color: #ffffff;
$black-color: #060606;
$black2-color: #2c2b2b;
$black1B-color: #1b1b1b;
$search-border: #b3b3b3;
$title-background: #dfdfdf;
$subtitle-background: #f5f5f5;
$sidebar: #f1f1f1;
$profile-background: #7a7a7a;
$accent-color: #5550e4;
$error: #e24c3e;
$light-grey: #f3f4f6;
$light-attention: #faebe8;
$light-blue: #e7effe;
$light-yellow: #fdf3e6;
$light-green: #eaf7f1;
$main-background: #f0f5ff;
$name-task: #6a6a6a;
$disabled-color: #b0b0b0;
$emty-hover-color: #e6e5ff;
$accent_on_hover-color: #4641d2;
$header-task-bg-color: #ebeff8;
$header-task-border-color: #e0e8ee;
$todo: #bfdcfa;
$ip: #e3d3f2;
$done: #ace9ae;
$hold: #cad8e1;
$todo-text: #799ac1;
$ip-text: #947fa9;
$done-text: #69a36b;
$hold-text: #6e858e;
$todo: #dbeafb;
$ip: #ede5f7;
$done: #d1f0d5;
$hold: #e0e8ee;
$todo-text: #a3c3e9;
$ip-text: #ccb1e7;
$done-text: #a5d7a7;
$hold-text: #b2c5cd;
$team: #dce4f3;
$login-background: #f6f7fb;
$task-stroke: #e6edf4;
