@use '../../../globalStyles/variables.scss' as v;
@use '../../../globalStyles/mixins.scss' as m;

.newEmployee {
  width: 557px;
  background-color: v.$login-background;
}

.newEmployeeContainer {
  width: 509px;
  margin: auto;
  padding: 24px 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.newEmployeeWrapper {
  display: flex;
  gap: 16px;
  justify-content: space-between;
}

.nameEmployee {
  width: 246.5px;
  border-radius: 8px;
  border: 1px solid v.$disabled-color;
  @include m.BodyLarge;
}

.invalidInput {
  border: 1px solid v.$error;
}

.newEmployeeAddButton {
  width: 246.5px;
}

.newEmployeeButton {
  width: 246.5px;
}

.errorText {
  color: v.$error;
  @include m.Description;
  margin-top: -10px;
}
