@use '../../../globalStyles/variables.scss' as v;
@use '../../../globalStyles/mixins.scss' as m;

.select {
  position: relative;
  max-width: 560px;
  max-height: 36px;
  width: 100%;
  height: 100%;

  &__container {
    position: relative;
    max-width: 560px;
    max-height: 36px;
    width: 100%;
    height: 100%;
  }

  &__title {
    padding: 0;
    margin: 0;
    margin-bottom: 4px;
    color: v.$name-task;
    @include m.S1
  }

  &__options {
    max-width: 560px;
    width: 100%;
    height: 36px;
    border-radius: 8px;
    border: 1px solid v.$disabled-color;
    padding: 8px;
  }

  &__option {
    position: absolute;
    top: 15px;
    left: 0;
    width: 100%;
    color: #fff;
    background-color: #fff;
  }
}

.textarea {
  margin-top: 32px;
  margin-bottom: 16px;

  &_title {
    padding: 0;
    margin: 0;
    margin-bottom: 4px;
    color: v.$name-task;
    @include m.S1
  }

  &_textarea {
    max-width: 560px;
    min-height: 124px;
    width: 100%;
    height: 100%;
    padding: 8px;
    border-radius: 8px;
    border: 1px solid v.$disabled-color;
  }
}

.calendar {
  margin-bottom: 16px;

  &__title {
    padding: 0;
    margin: 0;
    margin-bottom: 4px;
    color: v.$name-task;
    @include m.S1
  }

  &__input {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__button {
    max-width: 250px;
    border: 1px solid v.$disabled-color;
    border-radius: 8px;
    background-color: inherit;
    cursor: pointer;
    margin-right: 16px;
    width: 100%;
    justify-content: flex-start;
    padding: 8px 16px;
    text-align: start;
    @include m.BodyLarge;
    color: #2C2B2B;
    //  color: v.$disabled-color;
    &:last-child {
      margin-right: 0;
    }

    &:hover {
      background-color: inherit;
    }
    &:active {
      background-color: inherit;
    }
  }

  &__textButton {
    text-align: start;
    @include m.BodyLarge;
    color: v.$disabled-color;
  }

  &__textButtonInput {
    position: relative;
    max-width: 250px;
    border: 1px solid v.$disabled-color;
    border-radius: 8px;
    background-color: inherit;
    cursor: pointer;
    width: 100%;
    justify-content: flex-start;
    padding: 8px 16px;
    text-align: start;
    @include m.BodyLarge;
    color: #2C2B2B;

    &::placeholder {
      color:  v.$disabled-color;
    }
  }

  &__open {
    position: absolute;
    top: 42px;
    left: 0;
  }
}

.linkInput {
  max-width: 560px;
  width: 100%;
}

.button {
  display: flex;
  margin-top: 16px;

  &__button {
    height: 40px;
    width: 100%;
    margin-right: 16px;
    &:last-child {
      margin-right: 0;
    }
  }
}

.error {
  position: absolute;
  bottom: -17px;
  right: 0;
  color: red;
  @include m.BodyLarge;
}
