@use '../../../globalStyles/variables.scss' as v;
@use '../../../globalStyles/mixins.scss' as m;

.form {
  width: 560px;
  height: 450px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: v.$login-background;
  &__label {
    @include m.S1;
    color: v.$name-task;
    margin-bottom: 4px;
  }
}
.checkboxes {
  position: relative;
  max-width: 510px;
  width: 100%;
  margin-top: 24px;
  margin-bottom: 16px;
  &__button {
    background: v.$white-color;
    border: none;
    border-radius: 8px;
    width: 100%;
    padding: 0;
    cursor: pointer;
  }
  &__container {
    display: none;
    position: absolute;
    height: 160px;
    z-index: 10;
    width: 100%;
    background-color: v.$white-color;
    border-radius: 0 0 8px 8px;
    border-right: 1px solid v.$accent-color;
    border-bottom: 1px solid v.$accent-color;
    border-left: 1px solid v.$accent-color;
  }
  &__select {
    width: 100%;
    height: 36px;
    border-radius: 8px;
    border: 1px solid v.$disabled-color;
    display: flex;
    overflow: hidden;
  }
  &__show {
    display: block;
  }
  &__borders {
    border-radius: 8px 8px 0 0;
    border-color: v.$accent-color;
  }
  &__mesh {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 12px;
    overflow: auto;
  }
  &__label {
    margin-left: 16px;
    display: flex;
    align-items: center;
    height: 24px;
  }
  &__text {
    margin-left: 10px;
  }
}
.name__title {
  @include m.Body;
  color: v.$black2-color;
  display: flex;
  align-items: center;
  margin-left: 16px;
}
.textarea__container {
  width: 100%;
  max-width: 510px;
  margin-bottom: 16px;
  height: 120px;
}
.calendar {
  max-width: 250px;
  width: 100%;
  &__title {
    padding: 0;
    margin: 0;
    margin-bottom: 4px;
    color: v.$name-task;
    @include m.S1;
    display: flex;
    align-items: center;
  }

  &__input {
    position: relative;
  }
  &__button {
    max-width: 250px;
    border: 1px solid v.$disabled-color;
    border-radius: 8px;
    cursor: pointer;
    margin-right: 16px;
    width: 100%;
    justify-content: flex-start;
    padding: 8px 16px;
    text-align: start;
    @include m.BodyLarge;
    color: v.$black2-color;
    &:last-child {
      margin-right: 0;
    }
    &:hover {
      background-color: inherit;
    }
    &:active {
      background-color: inherit;
    }
  }
  &__textButton {
    text-align: start;
    @include m.BodyLarge;
    color: v.$disabled-color;
  }
  &__textButtonInput {
    position: relative;
    max-width: 250px;
    border: 1px solid v.$disabled-color;
    border-radius: 8px;
    background-color: inherit;
    cursor: pointer;
    width: 100%;
    justify-content: flex-start;
    padding: 8px 16px;
    text-align: start;
    @include m.BodyLarge;
    color: #2c2b2b;

    &::placeholder {
      color: v.$disabled-color;
    }
  }
  &__open {
    position: absolute;
    top: 42px;
    left: 0;
    z-index: 10;
  }
}
.datetime {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 510px;
}
.timeContainer {
  max-width: 250px;
  width: 100%;
  margin-bottom: 16px;
}
.time {
  position: relative;
  max-width: 250px;
  width: 100%;
  border-radius: 8px;
  border: 1px solid v.$disabled-color;
  background-color: v.$white-color;
  @include m.BodyLarge;
  padding: 8px 16px;
}
.linkInput {
  max-width: 510px;
  width: 100%;
  position: relative;
}
.button {
  display: flex;
  margin-top: 16px;
  max-width: 510px;
  width: 100%;
  margin-bottom: 24px;

  &__button {
    height: 40px;
    width: 100%;
    margin-right: 16px;
    position: relative;
    &:last-child {
      margin-right: 0;
    }
  }
}
