@use '../../globalStyles/variables.scss' as v;
@use '../../globalStyles/mixins.scss' as m;

.container {
  position: absolute;
  top: 13px;
  left: 227px;
  z-index: 1;
  background-color: v.$white-color;
  display: grid;
  gap: 12px;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0px 4px 20px 0px #B1B1C333;
  cursor: default;
  max-width: 152px;
  @include m.Description;
  color: v.$black2-color;
}

.edit_buttons {
  display: grid;
  gap: 8px;
  // border-top-right-radius: 8px;
  // border-top-left-radius: 8px;
}

.edit_button {
  display: grid;
  gap: 8px;
  grid-template-columns: 20px auto;
  align-items: center;
}

.status {
    display: grid;
    padding-left: 2px;
    gap: 8px;

  &_button {
    @include m.S1;
    color: v.$white-color;
    max-width: 120px;
    max-height: 28px;
    margin-top: 8px;
  }

  &_radiobutton {
    display: grid;
    gap: 8px;
    grid-template-columns: 16px auto;
    align-items: center;

    &_input:checked {
      accent-color: v.$accent-color;
    }
  }
}


