.timeline {
  width: 1084px;
}

.timelineDate {
  font-weight: 400;
  font-size: 10px;
  line-height: 120%;
  color: #B2C5CD;
}

.timelineSeparator {
  border: 1px solid #E6EDF4;
  margin-bottom: 14px;
}
