.groupTasks {
  border-radius: 8px;
  border: 1px solid #DCE4F3;
}

.header {
  width: 256px;
  display: flex;
  background-color:#DCE4F3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.customHeading {
  font-weight: 500;
  font-size: 10px;
  line-height: 120%;
  display: flex;
  align-items: center;
}

.customHeading::before {
  content: '';
  background: url(../../images/List.png);
  display: inline-block;
  width: 16px;
  height: 16px;
}

.taskUser{
  font-weight: 400;
  font-size: 12px;
  line-height: 133.33%;
}

.taskCard {
  display: flex;
  justify-content: center;
  align-items: center;
}
