@use '../../globalStyles/mixins.scss' as m;
@use '../../globalStyles/variables.scss' as v;

.container {
  display: grid;
  grid-template-columns: repeat(4, minmax(137px, 1fr));
  column-gap: 20px;
}

.element {
  @include m.Body;
  height: 24px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo {
  color: v.$todo-text;
  background: v.$todo;
}

.inProgress {
  color: v.$ip-text;
  background: v.$ip;
}

.hold {
  color: v.$hold-text;
  background: v.$hold;
}

.done {
  color: v.$done-text;
  background: v.$done;
}

@media (max-width: 770px) {
  .container {
    grid-template-columns: repeat(4, 137px);
  }
}
