.Lead {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 100%;

  &__container {
    display: flex;
    width: 100%;
    justify-content: center;
  }
  &__serchContainer {
    display: flex;
    margin: 20px 0;
  }
  &__tasks {
    width: 100%;
    margin-left: 10px;
  }
}

.tasksWrapper {
  display: grid;
  grid-template-columns: repeat(4, minmax(177px, 1fr));
  column-gap: 20px;
}

.Lead__tasks {
  max-width: 1084px;
}

@media (max-width: 770px) {
  .tasksWrapper {
    grid-template-columns: repeat(4, minmax(min-content, 1fr));
  }
}
