@use '../../../globalStyles/mixins.scss' as m;
@use '../../../globalStyles/variables.scss' as v;

.Lead {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 100%;

  &__container {
    display: flex;
    width: 100%;
    justify-content: center;
  }
  &__serchContainer {
    display: flex;
    margin-bottom: 20px;
  }
  &__tasks {
    width: 100%;
    margin-left: 10px;
  }
}

.tasksWrapper {
  display: grid;
  grid-template-columns: repeat(4, minmax(min-content, 256px));
  column-gap: 20px;
}

